:root{
    --font-size-month-header: 22px;
    --font-size-day-details-date: 40px;
    --font-size-day-details-wod: 18px;
    --font-size-day-details-festival: 18px;
    --font-size-for-details: 17px;
}

@mixin add-animation-effect-on-slide {
    position: relative;
    &.add-animation-right-to-current{
        animation: right-to-current forwards 400ms ease-out;
    }
    &.add-animation-left-to-current{
        animation: left-to-current forwards 400ms ease-out;
    }
}
.day-details-container{
    &.english-language{
        --font-size-month-header: 20px;
        --font-size-day-details-date: 36px;
        --font-size-day-details-wod: 16px;
        --font-size-day-details-festival: 16px;
        --font-size-for-details: 15px;
    }
    overflow-y: auto;
    border-radius: 15px;
    border: 1px solid #E9E9E9;
    height: 100%;
    padding: 15px;
    background-color: white;
    width: calc(100vw - 70px);
    .day-details-close{
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .day-details-moth-header{
        display: flex;
        justify-content: center;
        span{
            font-size: var(--font-size-month-header) ;
            color: #31398C;
            font-weight: 900;
        }
    }
    .day-details-moth-body{
        margin-top: 15px;
        .day-details-date-details-and-icon{
            display: flex;
            flex-direction: row;
            .day-details-date-details{
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-top: 14px;
                .day-details-date{
                    font-size: var(--font-size-day-details-date);
                    color: #31398C;
                    min-height: 55px;
                    line-height: 55px;
                    @include add-animation-effect-on-slide;
                    &.day-details-holiday-date{
                        color: #FF3B3B;
                    }
                }
                .day-details-wod{
                    font-size: var(--font-size-day-details-wod);
                    color: #31398C;
                    line-height: 20px;
                    padding: 5px 0;
                    font-weight: 600;
                    @include add-animation-effect-on-slide;
                    &.day-details-holiday-wod{
                        color: #FF3B3B;
                    }
                }
            }
            .day-details-icon-details{
                flex: 1;
                padding-left: 60px;
                position: relative;
                top: 8px;
                &.day-details-icon-details-eng{
                    position: relative;
                    top: 4px;
                }
                @include add-animation-effect-on-slide;
                ion-img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .day-details-event-details{
            display: flex;
            flex-direction: column;
            .day-details-festival{
                font-size: var(--font-size-day-details-festival);
                color: black;
                line-height: 20px;
                padding: 5px 0;
                @include add-animation-effect-on-slide;
                &.day-details-festival-is-festival{
                    color: #FF3B3B;
                    font-weight: 600;
                    font-size:  var(--font-size-day-details-festival);
                }
            }
            .day-details-masam{
                font-size:  var(--font-size-day-details-festival);
                line-height: 20px;
                min-height: 30px;
                text-align: left;
                color: black;
                @include add-animation-effect-on-slide;
            }
            .day-details-masa{
                font-size:  var(--font-size-day-details-festival);
                line-height: 20px;
                min-height: 30px;
                text-align: left;
                color: black;
                @include add-animation-effect-on-slide;
            }
        }
    }
    .day-details-sun-details{
        margin-top: 14px;
        display: flex;
        justify-content: space-around;
        .day-details-sun-raise, .day-details-sun-set, .day-details-sun-rasi{
            display: flex;
            flex-direction: row;
            align-items: center;
            span{
                @include add-animation-effect-on-slide;
            }
            .day-details-icon{
                width: 26px;
                height: 26px;
                @include add-animation-effect-on-slide;
            }
            span{
                margin-left: 6px;
                font-size: var(--font-size-for-details);
                color: black;
                font-weight: 500;
                padding-top: 6px;
                box-sizing: border-box;
            }
        }
        .day-details-sun-rasi{
            margin-left: 3px;
            .day-details-icon{
                width: 22px;
                height: 22px;
                @include add-animation-effect-on-slide;
            }
            span{
                margin-left: 3px;
            }
        }   
    }
    .day-details-day-speacility{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        ion-img{
            width: 20px;
            height: 50px;
            @include add-animation-effect-on-slide;
        }
        span{
            max-width: calc(100% - 90px);
            color: #31398C;
            font-size: var(--font-size-for-details);
            line-height: 22px;
            text-align: center;
            @include add-animation-effect-on-slide;
        }
    }
    .day-details-rahu-kala, .day-details-guli-kala, .day-details-yamaganda-kala{
        display: flex;
        flex-direction: row;
        margin-top: 12px;
        .kala-title{
            flex: 2;
            font-size: var(--font-size-for-details);
            line-height: 21px;
            color:#31398C;
            @include add-animation-effect-on-slide;
        }
        .kala-desc{
            flex: 3;
            color: #000000;
            font-size: var(--font-size-for-details);
            line-height: 21px;
            font-weight: 500;
            @include add-animation-effect-on-slide;
        }
    }
    .daily-masa-details{
        margin-top: 30px;
        .day-details-titi, .day-details-nakshatra, .day-details-yoga, .day-details-karuna{
            display: flex;
            flex-direction: row;
            margin-top: 12px;
            .day-details-title{
                flex: 2;
                font-size: var(--font-size-for-details);
                color: #31398C;
                line-height: 21px;
                @include add-animation-effect-on-slide;
            }
            .day-details-desc{
                flex: 3;
                font-size: var(--font-size-for-details);
                font-weight: 500;
                color: black;
                line-height: 21px;
                @include add-animation-effect-on-slide;
            }
        }
    }
}
.day-details-data-dosent-exists{
    width: 100%;
    height: 100%;
    background: white;
    color: #31398C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
@keyframes right-to-current {
    0% {
        right: calc(-100vw + 70px);
    }
    100% {
        right: 0px;
    }
}
@keyframes left-to-current {
    0% {
        left: calc(-100vw + 70px);
    }
    100% {
        left: 0px;
    }
}