.calender-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f2f2f2;
    overflow: hidden;
    .calender-header-container{
        height: 20vh;
    }
    .calender-body-container{
        height: 80vh;
    }
}