<div class="calender-header-wrapper">
	<ion-buttons slot="start" class="menu-button">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<div class="calender-header-month-sub-details" 
	[ngClass]="{'calender-header-month-sub-english': (calenderService.selectedLanguage.value == appConstants.languageEnglish)}"
	>
		{{ nativeLanguageMonthsWords[currentMonth] }}
	</div>
	<div class="calender-header-toolbar">
		<div class="calender-header-month-year-details">
			{{ selectedMonthDetails[currentMonth]+' '+selectedYear }} 
		</div>
	</div>
	<div class="calender-header-advertisement-carousel" >
		<ion-slides #headerSlides [options]="slideOptsOne" (ionSlideDidChange)="onSlideChange()">
			<ion-slide *ngFor="let holidayDetails of currentMonthHolidayDetails" [style.background]="holidayDetails.linearGadientColor">
				<div class="calender-header-carousel-item">
					<div class="calender-header-carousel-item-date-details">
						<span class="calender-header-carousel-item-date-details-date">{{ holidayDetails.DATE }}</span>
						<span class="calender-header-carousel-item-date-details-weekday" [ngClass]="{'calender-header-carousel-item-date-details-weekday-english': (calenderService.selectedLanguage.value == appConstants.languageEnglish)}">{{ holidayDetails.DAYINHINDI }}</span>
					</div>
					<div class="calender-header-carousel-item-event-details-container">
						<div class="calender-header-carousel-item-event-details">
							<div class="calender-header-carousel-item-event-one" [ngClass]="{'calender-header-carousel-item-event-one-english': (calenderService.selectedLanguage.value == appConstants.languageEnglish)}">{{ holidayDetails.EVENT1 }}</div>
						</div>
					</div>
					<div  class="calender-header-carousel-item-image">
						<ion-img *ngIf="holidayDetails?.IMAGE && holidayDetails.IMAGE != ''" [src]="'assets/'+holidayDetails?.IMAGE+'.png'"></ion-img>
					</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</div>

