.calender-header-wrapper{
    background-color: #FFFFFF;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    .menu-button{
        position: absolute;
    }
    .calender-header-month-sub-details{
        color: #5A61A3;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 600;
        position: absolute;
        right: 0;
        padding-top: 15px;
        &.calender-header-month-sub-english{
            font-size: 10px;
            max-width: 80px;
            margin-top: -4px;
        }
    }
    .calender-header-toolbar{
        display: flex;
        justify-content: center;
        height: 48px;
        align-items: center;
        .calender-header-month-year-details{
            color: #31398C;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .calender-header-advertisement-carousel{
        width: calc(100% - 20px);
        margin: 0 10px 10px 10px;
        height: calc(100% - 57px);
        .slides-md{
            height: 100%;
        }
        ion-slide {
            border-radius: 10px;
        }
       .calender-header-carousel-item{
           display: flex;
           flex-direction: row;
           width: 100%;
           margin-right: 5px;
           padding-left: 4px;
           .calender-header-carousel-item-date-details{
               display: flex;
               flex-direction: column;
               flex:0.5;
               align-items: center;
                 justify-content: center;
               .calender-header-carousel-item-date-details-month{
                   padding-top: 2px;
                    font-size: 18px;
                    color: #464E96;
                    font-weight: 600;
               }
               .calender-header-carousel-item-date-details-date{
                    font-size: 28px;
                    color: #FFFFFF;
                    padding-top: 5px;
               }
               .calender-header-carousel-item-date-details-weekday{
                    font-size: 14px;
                    color: #FFFFFF;
                    margin-top: -4px;
                    &.calender-header-carousel-item-date-details-weekday-english{
                        font-size: 13px;
                    }
               }
           }
           .calender-header-carousel-item-event-details-container{
                display: flex;
                margin: 0;
                flex: 1.5;
                .calender-header-carousel-item-event-details{
                    display: flex;
                    flex-direction: column;
                    padding-inline-start: unset;
                    margin: 0;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    .calender-header-carousel-item-event-one{
                         padding-top: 4px;
                         font-size: 16px;
                         color: #FFFFFF;
                         white-space: nowrap;
                         overflow: hidden;
                         text-align: center;
                    }
                }
           }
           .calender-header-carousel-item-image{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 80px;
                max-height: 80px;
                padding-right: 5px;
                padding-left: 5px;
                margin: auto;
           }
       }
    }
}


ion-menu-button{
    --color:#212428 !important;
    color:#212428 !important;
}

ion-toggle {
    --background: #000 !important;
     --background-checked: #7a49a5 !important;
     --handle-background: #7a49a5 !important;
     --handle-background-checked: #000 !important;
   }
