.side-nav-container {
	padding-left: 16px;
	padding-right: 16px;
	height: 100%;
	background-color: white;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	position: relative;
	.item {
		--padding-start: 0;
	}
	.side-nav-header {
		display: flex;
		align-items: center;
		padding: 11px 0 10px 0;
		border-bottom: 2px solid #c6c6c6;
		.side-nav-header-menu-iocon {
		font-size: 24px;
		width: 24px;
		height: 24px;
		color: black;
		}
		.sc-ion-label-md-h {
		margin-left: 26px;
		font-size: 16px;
		color: #1a237e;
		font-weight: bold;
		font-family: sans-serif;
		}
	}
	.side-nav-list {
		.sc-ion-label-md-h {
			color: #404040;
			font-family: sans-serif;
			font-size: 14px;
		}
		.side-nav-firework {
			width: 22px;
			height: 22px;
		}
		.side-nav-notification-toogle {
			padding-inline: unset;
			padding-right: 0px;
		}
		.side-nav-help-container{
			width: 100%;
			display: flex;
			text-decoration: none;
			.side-nav-help{
				width: 100%;
				display: flex;
				justify-content: space-between;
				text-decoration: none;
				align-items: center;
			}
			.side-nav-help-icon{
				font-size: 24px;
				color: grey;
			}
		}
	}
	.side-nav-calendar-shortcut {
		position: absolute;
		width: calc(100% - 32px);
		bottom: 0;
		.side-nav-calendar-year{
			font: normal normal bold 16px/16px Open Sans;
			letter-spacing: 0.12px;
			color: #31398C;
			text-align: center;
			line-height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.side-nav-calendar-shortcut-row {
			display: grid;
			grid-template-columns: auto auto auto;
			row-gap: 15px;
			.side-nav-calendar-shortcut-month{
				width: 50px;
				height: 50px;
				border: 0.25px solid #B7B7B7;
				border-radius: 8px;
				text-align: center;
				align-items: center;
				font-size: 12px;
				line-height: 50px;
				box-shadow: 3px 3px 4px #00000029;
				color: #9A9EC6;
				margin: auto;
				font-weight: 700;
				background-color: #FFFFFF 0% 0% no-repeat padding-box;
				&.side-nav-calendar-shortcut-current-month{
				border-top-right-radius: 0px;
				border-bottom-left-radius: 0px;
				color: #1A237E;
				font-weight: 800;
				}
			}
		}

		.side-nav-calendar-shortcut-tail-icons{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
    		margin-top: 40px;
			margin-bottom: 20px;
			div, a {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: #4B4B4B;
				p {
					margin-top: 6px;
					font-size: 16px;
				}
			}
		}
	}
}

ion-menu {
  --ion-background-color: transparent;
  --width: calc(100vw - 80px);
  ion-toolbar {
      --background: transparent;
  }

  ion-list {
      background: transparent;
  }
  ion-item {
      color: rgb(255, 255, 255);
      --background: transparent;
  }
  ion-content {
      --background: #aeaeae;
  }
}
.toggle-icon {
    background: var(--background-checked);
}
.toggle-checked{
	--background-checked: #31398ca6;
	--handle-background-checked: #31398C;
}
.action-sheet-selected{
	font-weight: normal !important;
	background: #31398C !important;
	color: white !important;
	border-radius: 25px;
}
.action-sheet-button-inner.sc-ion-action-sheet-md{
	justify-content: center;
}

ion-list {
	background: white !important;
}

ion-icon {
	color: #212428 !important;
}

ion-toggle {
	--background: #9C9C9C !important;
	--background-checked: #797EB5   !important;
	--handle-background: white !important;
	--handle-background-checked: #31398C !important; 
}
